body {
  background-color: dodgerblue;
  margin-left: auto;
  margin-right: auto;
}

#title{
  font-family: 'Courier New', Courier, monospace;
}

#temp {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
}

#parent {
  display: table;
  border-spacing: 30px;
  margin: 10% auto 10% auto;
}

#child {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.temp {
  font-size: 20px;
}

.indicator {
  height: 60px;
  width: 50px;
  margin: auto;
  border-radius: 5px;
  background-color: green;
}

.square {
  height: 300px;
  width: 400px;
  border-radius: 20px;
  background-color: white;
  
}

.square h1 {
  text-align: center;
}

.square p {
  padding: 20px;
}

.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
  background-color: RoyalBlue;
}

.center {
  text-align: center;
}
